.NavbarHamburguer {
   background-color: #3b6647;
   width: 60px;
   height: 60px;
   border-radius: 100px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   cursor: pointer;
   gap: 8px;
   position: relative;
}

.NavbarHamburguer > .NavbarHamburguer-line {
   background-color: #1e1e1e;
   width: 30px;
   height: 4px;
   border-radius: 20px;
}

.NavbarHamburguer > .clickMenu-div {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 9999;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #f3f3f3;
}
.NavbarHamburguer > .clickMenu-div > p {
   font-family: "Dosis", sans-serif;
   font-size: 50px;
   font-weight: 600;
   color: #202020;
   cursor: pointer;
}
