.cardMissao-section {
    background-color:#F4F4F4;;
    width: 300px;
    height: 45vh;
    border-radius: 0px 60px 60px 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #1E1E1E;
}
.cardMissao-section > .cardMissao-icon {
    background-color: #F8BB6F;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardMissao-section > h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.cardMissao-section > p {
    width: 70%;
    text-align: center;
    font-size: 20px;
}
.cardMissao-icon-button {
    width: 300px;
    display: flex;
    align-items: start;
    padding-left: 50px;
}
@media (max-width: 1600px) {
    .cardMissao-icon-button {
        margin-left: 20px;
    }
    .cardMissao-section p {
        font-size: 18px;
    }
    .cardMissao-section > h1 {
        font-size: 32px;
    }
}
@media (max-width: 480px) {
    .cardMissao-icon-button {
       width: 250px;
       padding-left: 30px;
    }
}
@media (max-width: 480px) {
    .cardMissao-section {
        width: 250px;
    }
}
@media (max-width: 370px) {
    .cardMissao-section {
        width: 230px;
    }
    .cardMissao-section > h1 {
        font-size: 25px;
    }
    .cardMissao-section > p {
        font-size: 16px;
    }
}

@media (max-height: 750px) {
    .cardMissao-section {
        gap: 13px;
    }
}
@media (max-height: 690px) {
    .cardMissao-section {
        gap: 5px;
    }
}
@media (max-height: 630px) {
    .cardMissao-section {
        gap: 7px;
    }
    .cardMissao-section > h1 {
        font-size: 22px;
    }
    .cardMissao-section > p {
        font-size: 15px;
        width: 210px;
    }
}
@media (max-height: 565px) {
    .cardMissao-section > h1 {
        font-size: 19px;
    }
    .cardMissao-section > p {
        font-size: 14px;
        width: 210px;
    }
}