.card-tetemonial {
    background: #f8bb6f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    font-family: "Oswald", serif;
    color: #202020;
    text-align: center;
}
.card-testemonial-head h3 {
    font-size: 30px;
}

.card-testemonial-head {
    display: flex;
    flex-direction: column;
    color: #F4F4F4;
}

.card-testemonial-text{
    width: 90%;
}
@media (max-width: 1050px) {
    .card-tetemonial {
        width: 400px;
        height: 300px;
    }
}
@media (max-width: 420px) {
    .card-tetemonial {
        width: 300px;
    }
}
@media (max-width: 420px) {
    .card-tetemonial {
        width: 250px;
    }
}