nav {
   width: 100%;
   height: 10vh;
   background-color: #fbfbfb;
   display: flex;
   align-items: center;
   justify-content: space-around
}
.navbar-agrosyntech-logo {
   width: 10%;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100%;
  
}
.navbar-agrosyntech-logo h1 {
   font-family: "Oswald", serif;
   font-size: 33px;
   color: #114A27;
   height: 38px;
}
.navbar-agrosyntech-logo p {
   font-family: "Dosis", sans-serif;
   font-size: 13px;
   color: #202020;
   font-weight: 500;
   text-align: end;
   width: 70px;
}
ul.navbar-links-navegation {
   font-family: "Oswald", serif;
   list-style-type: none;
   display: flex;
   gap: 25px;
   height: 100%;
   display: flex;
   width: 30%;
   align-items: center;
   justify-content: center;
   
}
ul > li {
    font-size: 22px;
    font-weight: 500;
    color: #202020;
    cursor: pointer;
}
nav > .navbar-login-register {
    width: 450px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}